.contact-us {
  width: 100%;
  height: auto;
}
.contact-us-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.contact-us-form{
  align-self: center;
  justify-self: center;
  width: 70%;

}
.contact-us-inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.mat-form-field {
  width: 22.5rem;
}
.contact-us-button {
  width: 22.5rem;
  height: 5rem;
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF698D, #FB3F6C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF698D, #FB3F6C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 2rem;
  border:0.1rem solid var(--color-white);
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  margin-top: 3rem;
  cursor: pointer;
}


