.contact-us {
  margin: 80rem 0 2rem 0;
  width: 100%;
  height: auto;
}
.contact-us-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.contact-us-form{
  display: grid;
  align-self: center;
  justify-self: start;
  width: 90%;
  margin-bottom: 5rem;
}
.contact-us-inputs {
  display: grid;
  grid-template-columns: repeat(2, minmax(30rem, 1fr));
}
.form-data {
  display: grid;
  grid-template-columns: repeat(2, minmax(30rem, 1fr));
}
.mat-form-field {
  width: 29rem;
}
.contact-us-button {
  width: 29rem;
  height: 5rem;
  background: #00A099;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1c9690, #00A099);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1c9690, #00A099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 2rem;
  border:0.1rem solid var(--color-white);
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  margin-top: 3rem;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 1210px) {
    .contact-us-image {
      display: none;
    }
    .contact-us-form {
     display: flex;
     width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .form-data {
      grid-template-columns: repeat(1, minmax(30rem, 1fr));
    }
  }
@media (max-width: 768px) {
  .contact-us-container {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 70rem));
  }
  .contact-us-form{
    width: 100%;
  }
  .contact-us-inputs {
    grid-template-columns: repeat(1, minmax(30rem, 1fr));
    align-self: center;
    justify-self: center;
  }
  .form-data {
    grid-template-columns: repeat(1, minmax(30rem, 1fr));
  }
  .contact-us-button {
    width: 100%;
  }
}

