<section class="footer">
  <div class="container-footer">
    <div class="footer-info">
      <p>Select Insurance And Financial Services nace en el año 2009 teniendo en cuenta la necesidad de las personas como una compañía dedicada a la venta y el asesoramiento de seguros de vida y hoy es una compañía especializada en aseguramiento, plan de retiro y planes de inversión.</p>
    </div>
    <div class="footer-data">
      <h3>CONTÁCTENOS</h3>
      <span>Tel: (786) 216 1936 </span>
      <span>Email: contact@selectinsurance.info</span>
      <span>Skype: contact insurance </span>
      <span>Dirección: 7791 NW 46 ST. SUITE 112</span>
      <span>Miami Doral, FL 33166</span>
    </div>
    <div class="footer-admin">
      <h3>About Us</h3>
    <span>Carrier</span>
    <span>We are Hiring</span>
    <a href="">Contact Us</a>
    <a href>Privacy Policy</a>
    <a href="">Administración</a>
    </div>
  </div>
</section>
