$medium: 700px;
.footer {
  width: 100%;
}
.container-footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  height: 30vh;
  background-color: var(--primary-color);
  place-items: center;
  color: var(--color-white);
  bottom: 0;
  /* z-index: -1; */
}
.footer-info {
  font-size: 1.6rem;
  margin: 1rem 3rem;
}

@media(max-width: $medium){
  .container-footer{
    height: auto;
  }
}
