<div class="example-button-container">
  <div class="button-chat-chanel">
    <button class="button-whatsapp" mat-fab color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>whatsapp</mat-icon>
    </button>
    <button class="button-whatsapp" mat-fab color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>facebook</mat-icon>
    </button>
    <button class="button-whatsapp" mat-fab color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>messenger</mat-icon>
    </button>
  </div>
  <button class="button-whatsapp" mat-fab color="primary" aria-label="Example icon button with a home icon">
    <mat-icon>messenger</mat-icon>
  </button>
</div>
