<section class="navbar">
  <nav class="nav">
      <div class="nav-container">
          <div class="nav-logo">
              <a href="index.html">
                  <img [src]="logo" alt="Companie Logo">
              </a>
          </div>
          <label for="menu" class="nav-label">
            <img class="nav-img" [src]="hamburgerMenu" alt="Icon type Hamburger">
        </label>
        <input (click)="toggleHamburgerMenu()" class="nav-input" type="checkbox" id="menu">
          <div class="nav-menu">
              <a class="nav-item" href="">{{"INICIO" | translate }}</a>
              <a class="nav-item" href="">{{"COTIZADOR" | translate }}</a>
              <a class="nav-item" href="">{{"SERVICIOS" | translate }}</a>
              <a class="nav-item" href="">{{"TESTIMONIOS" | translate }}</a>
              <a class="nav-item" href="">{{"CONTACTO" | translate }}</a>
              <a class="nav-item" href="">{{"AGENTES" | translate }}</a>
              <img class="flag" [src]="flagSpain" alt="Bandera de España">
              <img class="flag" [src]="flagEnglish" alt="Bandera de Estados Unidos">
          </div>
      </div>
  </nav>
</section>

