<section class="navbar">
  <nav class="nav">
      <div class="nav-container">
          <div class="nav-logo">
              <a href="index.html">
                  <img [src]="logo" alt="Companie Logo">
              </a>
          </div>
          <label for="menu" class="nav-label">
            <img class="nav-img" [src]="hamburgerMenu" alt="Icon type Hamburger">
        </label>
        <input (click)="toggleHamburgerMenu()" class="nav-input" type="checkbox" id="menu">
          <div class="nav-menu">
              <a class="nav-item" routerLink="home">{{"INICIO" | translate }}</a>
              <a class="nav-item" href="">{{"SERVICIOS" | translate }}</a>
              <a class="nav-item" href="">{{"COTIZADOR" | translate }}</a>
              <a class="nav-item" routerLinkActive="active" routerLink="/contact">{{"CONTACTO" | translate }}</a>
              <a class="nav-item" href="">{{"AGENTES" | translate }}</a>
              <a class="nav-item" href="">{{"APLICA" | translate }}</a>
              <div class="nav-menu-icons">
                <a href=""><img [src]="iconWhatsapp" alt="Icono de Whatsapp"></a>
                <a href=""><img [src]="iconFacebook" alt="Icono de Whatsapp"></a>
                <a href=""><img [src]="iconInstagram" alt="Icono de Whatsapp"></a>
                <ng-template *ngIf="toggleLanguage">
                  <img [src]="flagEnglish" alt="">
                </ng-template>
              </div>
              </div>
          </div>
  </nav>
</section>

