.logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 50rem;
  height: 100vh;
}
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
}
.nav {
  background-color: transparent;
  height: 8rem;
  /* box-shadow: -4px 13px 16px -2px rgba(0,0,0,0.15); */
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
.nav-label, .nav-input {
  display: none;
}
.nav-menu {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
}
.flag {
  width: 4rem;
  height: 2.5rem;
  cursor: pointer;
}
.nav-item {
  color: var(--white-color);
  font-size: 1.8rem;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav-item:after {
  content: "";
  display: block;
  margin-top: 0.3rem;
  height: 0.3rem;
  clip-path: var(--clippy);
  background-color: var(--marine-water-color);
  transition: all 0.5s;
}
.nav-item:hover {
  color: var(--marine-water-color);
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.nav-menu-icons {
  display: flex;
  justify-content: space-around;
}
.nav-menu > button {
  width: 3rem;
  height: 3rem;
}
.nav-menu-icons {
  display: flex;
  justify-content: center;
}
.nav-menu-icons > a img {
  margin: 0 auto;
  transform: scale(1.2);
}
.nav-menu-icons > a.active {
  color: var(--marine-water-color);
}
.nav-menu-icons > a img:hover {
  transform: scale(1.4);
}

/* Media Queries */
@media (max-width: 1060px) {
  .nav-label {
      display: block;
      cursor: pointer;
  }
  .nav-menu {
      position: fixed;
      top: 8rem;
      bottom: 0;
      background: var(--marine-water-color);
      width: 100%;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      clip-path: circle(0 at center);
      transition: clip-path 1s ease-in-out;
      z-index: 3;
  }
  .nav-input:checked + .nav-menu {
      clip-path: circle(100% at center);
  }
  .nav-item {
    color: var(--color-white);
  }

}
