<section class="fill-section">
  <div class="fill-section-container">
    <div class="fill-section-image">
      <img [src]="fillSectionImage" alt="">
    </div>
    <div class="fill-section-features">
      <h2>Asegura tu futuro y el de tu familia</h2>
      <div class="features">
        <mat-icon class="fill-section-icon">check_circle</mat-icon>
        <h3>Corporate Finantial Advisory</h3>
      </div>
      <div class="features">
        <mat-icon class="fill-section-icon">check_circle</mat-icon>
        <h3>Corporate Finantial Advisory</h3>
      </div>
      <div class="features">
        <mat-icon class="fill-section-icon">check_circle</mat-icon>
        <h3>Corporate Finantial Advisory</h3>
      </div>
      <button class="fill-section-button">Get Started</button>
    </div>
  </div>
</section>
