<section class="home-insurance">
  <div class="home-insurance-container">
    <div class="home-insurance-left">
      <picture>
        <source [srcset]="homeInsuranceMobile" media="(max-width: 560px)">
        <img class="home-insurance-image" [src]="homeInsuranceImage" alt="Imagen de Cotizacion seguro de Vida">
      </picture>
    </div>
    <div class="home-insurance-right">
      <h1 class="home-insurance-title">Contáctanos</h1>
      <button class="home-insurance-button">Llámanos ahora al 305-434-43-32 y recibe tu cotización Telefónica. No esperes más</button>
      <p class="home-insurance-subtitle">Si deseas Escribenos tus preguntas.<br> Para nosotros son muy importantes </p>
      <app-form-home></app-form-home>
    </div>
  </div>
</section>
