mat-form-field {
  width: 29rem;
}
textarea {
  height: 15rem;
}
.form-home-button {
  width: 29rem;
  height: 5rem;
  background-color: var(--marine-water-color);
  color: var(--white-color);
  cursor: pointer;
  border: none;
  border-radius: 1.5rem;
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 2rem;
}
.form-home-button:hover {
  background-color: transparent;
  color: var(--marine-water-color);
  border: 0.3rem solid var(--marine-water-color);
}

