<form action="">
  <div class="contact-us-input">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div class="contact-us-input">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div class="contact-us-input">
    <mat-form-field appearance="outline">
      <mat-label>Teléfono</mat-label>
      <input matInput placeholder="Teléfono">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>
  <div class="contact-us-input">
    <mat-form-field appearance="fill">
      <mat-label>Mensaje</mat-label>
      <textarea class="textarea" matInput></textarea>
    </mat-form-field>
  </div>
  <button type="submit" class="form-home-button">ENVIAR</button>
</form>

